<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In | ExpnsTracker</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/register.css}" rel="stylesheet">
    <style>

    </style>
</head>
<body>

<div class="card z-depth-3">
    <h4 class="center-align">Log In</h4>
    <br />

    <div class="error-message" id="error-message"></div>

    <form onsubmit="signin(); return false;">
        <div class="input-field">
            <input id="email" type="email" class="validate" required>
            <label for="email">Email</label>
        </div>

        <div class="input-field">
            <input id="password" type="password" class="validate" required>
            <label for="password">Password</label>
            <i class="material-icons toggle-password" onclick="togglePassword('password', this)">visibility</i>
        </div>
        <div class="center-align">

        <button class="btn waves-effect waves-light" type="submit">
            Log In
        </button>
        </div>
        <hr>
        <!-- Buton Google Sign-In -->
        <!-- Google Sign-In Button simplu -->
        <div class="center-align" style="margin-top: 1rem;">
            <button type="button" onclick="signInWithGoogle()" class="btn red darken-1 black-text" style="width: 100%; max-width: 300px;">
                Sign in with Google
            </button>
        </div>



        <br /><br />
        <p class="center-align" style="margin-top: 1rem;">
            Create a new account! <a th:href="@{/register}">Register</a>
        </p>
    </form>
</div>

<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="module" th:src="@{/js/login.js}"></script>

</body>
</html>
