
.toggle-password {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
    font-size: 17px; /* adjust this to make it smaller or bigger */
}

.input-field {
    position: relative;
}

.error-message {
    color: #e53935;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    display: none;
}