body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.card {
    padding: 40px 30px;
    border-radius: 15px;
    min-width: 350px;
}

.toggle-password {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
    font-size: 17px; /* adjust this to make it smaller or bigger */
}

.input-field {
    position: relative;
}

.error-message {
    color: #e53935;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    display: none;
}